<article class="reservation">
    <div class="title">
        <span><a href="/reservation/{{id}}">{{title}}</a></span><span style="float:right">{{user.username}} on {{format_date created_at}}</span><br>
        <span style="float:right">{{comments.length}} {{format_plural "comment" comments.length}}</span>
    </div>
    <div class = "content">
        <p>{{Reservation}}</p>
    </div>
</article>