<section class="row">
  <div class = "column">
      <button class="btn btn-secondary"><a href="/reservations"> Create new reservation </a></button>
  </div>
</section>

{{#if reservations.length}}
<section>
  <h2>Your Reservations</h2>
    {{#each reservations as |reservation|}}
    <li>
      Reservation from {{format_date reservation.start_date}} to {{format_date reservation.end_date}}
      {{!-- <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit Reservation</a> --}}
      {{!-- {{>comments reservation}} --}}
      <div class="comments">
        {{#each reservation.comments}}
        <section class="comment">
          <div class="meta">
            {{user.username}} on {{format_date created_at}}
          </div>
          <div class="text">
            {{comment_text}}
          </div>
        </section>
        {{/each}}
      </div>
    </li>
    {{/each}}
</section>
{{/if}}
